*{
    font-family: Georgia, serif;
    margin: 0px;
}

body {
    background-color: var(--lightCol);
    color: var(--darkCol);
    transition: background-color 0.3s ease;
}

:root {
    --darkCol: #333;
    --borderDark: #001111;
    --lightCol: #f0f0f0;
    --borderLight: #d0ffff;
}

h3 {
    display: block;
    text-align: end;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.darkMode {
    background-color: var(--darkCol);
    color: var(--lightCol);
    border-color: var(--borderLight);
}

.darkMode .formContainer button {
    background-color: var(--lightCol);
    color: var(--darkCol);
    border-color: var(--borderLight);
}

#modeChange:hover {
    cursor: pointer;
}

.container {
    margin-top: 4px;
    display: flex;
    border-style: solid;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.border {
    margin: 0px 3px;
    border-top: 0px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 840px;
    width: 50%;
}

.border img {
    max-width: 100%;
    max-height: 100%;
}

.border h1 {
    position: absolute;
    top: 450px;
    left: 338px;
    color: #FA70F0;
    font-size: 40px;
}

.formContainer {
    display: flex;
    width: 90%;
    flex-direction: column;
}

.formContainer h2 {
    padding-bottom: 10px;
    text-align: center;
}

.formContainer h4 {
    padding-bottom: 10px;
}

.formContainer input {
    margin-bottom: 10px;
}

.formContainer textarea {
    height: 100px;
    padding: 10px;
    margin-bottom: 15px;
}

.formContainer button {
    font-weight: bold;
    height: 50px;
    background-color: var(--darkCol);
    color: var(--lightCol);
}

button:hover {
    cursor: pointer;
}

#leftContainer {
    border-left: 0px;
}

#rightContainer {
    border-right: 0px;
}
