*{
    font-family: Georgia, serif;
    margin: 0px;
}

body {
    background-color: var(--lightCol);
    color: var(--darkCol);
    transition: background-color 0.3s ease;
}

:root {
    --darkCol: #333;
    --borderDark: #001111;
    --lightCol: #f0f0f0;
    --borderLight: #d0ffff;
}

h3 {
    display: block;
    text-align: end;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.darkMode {
    background-color: var(--darkCol);
    color: var(--lightCol);
    border-color: var(--borderLight);
}

#modeChange:hover {
    cursor: pointer;
}


.border {
    margin: 0px 3px;
    border-top: 0px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

#leftContainer {
    border-left: 0px;
}

#rightContainer {
    border-right: 0px;
}
