/* This sets the default value for all font to be Geirgua, with serif as a backup
and set margins to 0px by default */
*{
    font-family: Georgia, serif;
    margin: 0px;
}

/* This is setting the style for the body and also to set the transition time when changing
from light to dark and visa versa */
body {
    background-color: var(--lightCol);
    color: var(--darkCol);
    transition: background-color 0.3s ease;
}

/* Sets our color variables to be used throughout the scripts  */
:root {
    --darkCol: #333;
    --borderDark: #001111;
    --lightCol: #f0f0f0;
    --borderLight: #d0ffff;
}

/* Sets up our header area */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

/* Used for when we want to channg our page to dark mode layout */
.darkMode {
    background-color: var(--darkCol);
    color: var(--lightCol);
    border-color: var(--borderLight);
}

/* Gives the cursor pointer when hovering the emote to change modes */
#modeChange:hover {
    cursor: pointer;
}

/* sets the styles for the inside elements of the flex */
.border {
    margin: 0px 3px;
    border-top: 0px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Changes the cursor to a pointer when hovering any button element */
button:hover {
    cursor: pointer;
}

/* Specific for the left box to remove the left side border */
#leftContainer {
    border-left: 0px;
}

/* Specific for the right box to remove the right side border */
#rightContainer {
    border-right: 0px;
}
